$light-primary: #FFFFFF;
$light-secondary: rgba(#EFEFEF, 0.98);
$dark-primary: #333333;
$bg-primary: #b1b1b1;
$overlay: rgba(#212121, 0.3);

$border-width: 1px;
$border-type: solid;

// adaptive
$tablet-xl: 1200px;
$tablet: 736px;
$phone: 375px;


$primary: #f7087a;
$secondary: $light-primary;