.cart {
    display: inline-block;
    width: 33px;
    height: 30px;
    position: relative;
    &__badge {
        text-align: center;
        width: 38px;
        height: 18px;
        border-radius: 9px;
        background-color: $primary;
        color: $light-primary;
        position: absolute;
        top: -4px;
        right: -32px;
    }
}