.drawer {
    transition: all .5s ease;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 120;
    background-color: $overlay;
    
    &--open {
        visibility: visible;
        opacity: 1;
        .drawer__content {
            transform: translateX(0);
        }
    }

    &__content {
        transform: translateX(-2000px);
        transition: all .5s ease;
        padding: 16px;
        width: 75%;
        max-width: 256px;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: $light-primary;
        box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
    }

    &-item {
        padding: 8px;
    }
}