.icon {
    width: 20px;
    height: 13px;
}

#vk {
    width: 20px;
    height: 13px;
}
#fb {
    width: 10px;
    height: 19px;
}
#ok {
    width: 12px;
    height: 19px;
}
#inst {
    width: 18px;
    height: 17px;
}
#cart {
    width: 33px;
    height: 30px;
}
#cart-2 {
    width: 20px;
    height: 20px;
}
#phone {
    width: 23px;
    height: 39px;
}