- 
    var featuresArray = [
        {
            id: 1,
            title: 'Картонный задник',
            text: 'Прародителем текста-рыбы является известный "Lorem Ipsum" – латинский текст, ноги которого растут аж из 45 года до нашей эры. Сервисов по созданию случайного текста на основе Lorem Ipsum великое множество, однако все они имеют один существенный недостаток: их "текст рыба" подходит лишь для англоязычных ресурсов/проектов.'
        },
        {
            id: 2,
            title: 'Воспользуйтесь доставкой',
            text: 'Прародителем текста-рыбы является известный "Lorem Ipsum" – латинский текст, ноги которого растут аж из 45 года до нашей эры. Сервисов по созданию случайного текста на основе Lorem Ipsum великое множество, однако все они имеют один существенный недостаток: их "текст рыба" подходит лишь для англоязычных ресурсов/проектов.'
        },
        {
            id: 3,
            title: 'Холст покрывается лаком',
            text: 'Прародителем текста-рыбы является известный "Lorem Ipsum" – латинский текст, ноги которого растут аж из 45 года до нашей эры. Сервисов по созданию случайного текста на основе Lorem Ipsum великое множество, однако все они имеют один существенный недостаток: их "текст рыба" подходит лишь для англоязычных ресурсов/проектов.'
        },
        {
            id: 4,
            title: 'ЭКО материалы',
            text: 'Прародителем текста-рыбы является известный "Lorem Ipsum" – латинский текст, ноги которого растут аж из 45 года до нашей эры. Сервисов по созданию случайного текста на основе Lorem Ipsum великое множество, однако все они имеют один существенный недостаток: их "текст рыба" подходит лишь для англоязычных ресурсов/проектов.'
        },
    ]