aside.drawer
    nav.drawer__content
        a.drawer-item(href='#')
            span.drawer-item__text Главная
        a.drawer-item(href='#')
            span.drawer-item__text Доставка
        a.drawer-item(href='#')
            span.drawer-item__text Контакты
        .drawer-item
            span.drawer-item__text
                +link('zakaz@печатьнахолсте.рф')
        .drawer-item
            span.drawer-item__text: +button('Заказать')