extends ../templates/block

block block
    section.features
        .container
            .row.justify-content-end
                .col-xl-8.col-md-12
                    h2.features__title Печать любых изображений!
                    .features__items-container
                        include content/features

                        each val in featuresArray
                            +item(val.title, val.text, val.id)