extends ../templates/block

block block
    section.form-block
        .container
            .row.justify-content-between
                .col-12.col-sm-12.col-md-6.col-lg-4
                    h1.form-block__title печать на холсте 
                        span с вашим изображением

                    form.form-block__form
                        .row
                            .col-4
                                +form-field("canvas-size", "rectangle")(type="radio", checked)
                                    span.rectangle-block
                                        +icon('mark')
                                        span.rectangle-block__item
                                        span.rectangle-block__title Прямоуг.
                            .col-4
                                +form-field("canvas-size", "square")(type="radio")
                                    span.square-block
                                        span.square-block__item
                                        span.square-block__title Квадрат
                            .col-4
                                +form-field("canvas-size", "panorama")(type="radio")
                                    span.panorama-block
                                        span.panorama-block__item
                                        span.panorama-block__title Панорама
                            .col-12
                                .form-block__item.form-block__canvas-size-selection(aria-label="Выбрать размер изображения")
                                    p Размер: 
                                    span 80 х 120
                            .col-12
                                .form-block__item.form-block__canvas-preview-image
                                    +form-field("preview-image", "preview-image")(type="file")
                                        span.drop-zone(draggable="true")
                                            +icon('dnd')
                                            span.drop-zone__text
                                                span.file-input-bold-text Перетащите сюда изображение
                                                span.file-input-light-text Или нажмите и выберете файл
                                            +icon('points')
                            .col-7.d-flex
                                +button("1000руб.-", 'form-block__btn btn-outline-secondary')
                                    span.cart-icon
                                        +icon('cart-2')
                            .col-5.d-flex.justify-content-end
                                +button("Заказать")(type="submit")

                .col-12.col-sm-12.col-md-6.col-lg-6
                    .form-block__canvas(aria-label="холст для выбранного изображения")