extends ../templates/block

block block
    header.header
        .header__top-info
            .container
                .row.align-items-center
                    .col-7.col-md-7.d-flex
                        .select.header__select.header__top-info-item
                            select(name='select')
                                option(selected='selected') Санкт-Петербург
                                option Москва
                    .col-5.col-md-3.sm-hidden
                        +link('zakaz@печатьнахолсте.рф')(class="header__top-info-item")
                    .col-5.col-md-2
                        ul.social-list.header__social-list
                            li: +link('vk')(class="social-list__item")
                                +icon('vk')
                            li: +link('fb')(class="social-list__item")
                                +icon('fb')
                            li: +link('ok')(class="social-list__item")
                                +icon('ok')
                            li: +link('inst')(class="social-list__item")
                                +icon('inst')
        .header__nav
            .container
                nav.row.align-items-center.justify-content-between
                    .col-6.col-sm-2.col-md-2.col-xl-3.order-md-first
                        a(class="logo header__logo")
                            img(src="./assets/image/logo.png", alt="logo")
                    .col-3.col-sm-2.col-md-1.col-xl-3.order-first.d-flex.flex-nowrap
                        +link('')(class="header__menu-toggler")
                            +icon('menu')
                        +link('Главная')(class="header__row-item active")
                        +link('Доставка')(class="header__row-item")
                        +link('Контакты')(class="header__row-item")
                    .col-sm-2.col-md-3.col-xl-2.d-flex.justify-content-end.sm-hidden
                        +button('Заказать')
                    .col-sm-6.col-md-4.col-xl-3.d-flex.justify-content-center.sm-hidden
                        .header__callback
                            +icon('phone')
                            .header__callback-info
                                p.header__callback-title звоните сейчас
                                +link('8 800 70 75 31')(class="header__callback-link")
                    .col-3.col-sm-2.col-md-1.col-xl-1
                        +link('')(class="cart header__cart")
                            span.cart__badge 0
                            +icon('cart')